.searchTab {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    min-width: 500px;
    height: 100%;
    background-color: rgb(0, 140, 255);
    overflow-y: scroll;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.searchBar {
    display: flex;
    text-align: center;
    font-size: 24px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    border: 0;
    box-shadow: 3px 2px 8px rgb(80, 80, 80);
    padding-bottom: 20px;
    border-radius: 20px;
    width: 90%;
    background-color: rgb(217, 217, 219);
    padding-left: 5%;
    padding-right: 5%;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.footer button {
    background-color: rgb(0, 140, 255);
    color: white;
    border: none;
    padding: 12px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    box-shadow: 3px 2px 8px rgb(80, 80, 80);
    font-size: 16px;
    margin: 4px 20px;
    cursor: pointer;
    border-radius: 12px;
}

.footer button:hover {
    transform: scale(1.05);
    transition: all 0.3s ease;
}



@media only screen and (max-width: 1000px) {
    .searchTab {
        min-width: 300px;
    }
    .searchBar {
        width: 80%;
        font-size: 15px;
    }
}

@media only screen and (max-width: 600px) {
    .searchTab {
        min-width: 130px;
    }
    .searchBar {
        width: 80%;
        font-size: 10px;
    }
    .footer button {
        font-size: 10px;
        padding: 5px 10px;
        margin: 4px 2px;
    }
}
