::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}

::-webkit-scrollbar-thumb {
    background-color: #afafaf;
    border-radius: 6px; 
}

::-webkit-scrollbar-thumb:hover {
    background-color: #6f706f;
}

::-webkit-scrollbar-track:hover {
    background-color: #c9c8c8; 
}

::-webkit-scrollbar-thumb:active {
    background-color: #555; 
}

.movieList {
    border: 1px solid black;
    padding-top: 5px;
    justify-content: center;
    align-items: center;
    width: 85%;
    height: 70vh;
    background-color: #3a7ace;
    border-radius: 5px;
    border: 0px;
    box-shadow: 3px 2px 8px rgb(80, 80, 80);
    overflow-y: scroll;
}

.movieInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 10vh;
    background-color: #fff;
    border: 1px solid black;
    cursor: pointer;
    border-radius: 0.5rem;
    margin: 1em auto;
}

.movieTitle {
    font-size: 1em;
}

@media only screen and (max-width: 768px) {
    .movieInfo {
        width: 85%;
    }
    .movieTitle {
        font-size: 0.7em; 
    }
}

.movieInfo:hover {
    transform: scale(1.05);
    transition: all 0.3s ease;
}



